<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Coffee Time</title>
</head>

<header class="container-fluid text-center">
  <div class="row topbar">
    <nav class="col">
      <div class="px-3 topbar-item">Acceso</div>
      <div class="px-3 topbar-item">Registro</div>
      <div class="px-3 topbar-item"><i class="icon ion-android-search"></i></div>
    </nav>
  </div>

  <div class="row logo-row">
    <div class="col">
      <h1 class="logo">TIME<sup><i class="icon ion-coffee"></i></sup></h1>
    </div>
    <div class="col">
      <a href="#" class="mobile-menu"><span></span></a>
    </div>
  </div>

  <div class="row row-nav">
    <nav class="col col-nav">
      <ul class="main-nav text-center">
        <li class="nav-item px-1"><a href="#" class="nav-link">Inicio</a></li>
        <li class="nav-item px-1"><a href="#" class="nav-link">Noticias</a></li>
        <li class="nav-item px-1"><a href="#" class="nav-link">Internet</a></li>
        <li class="nav-item px-1"><a href="#" class="nav-link">Tech</a></li>
        <li class="nav-item px-1"><a href="#" class="nav-link">Reviews</a></li>
        <li class="nav-item px-1"><a href="#" class="nav-link">Videos</a></li>
      </ul>
    </nav>
  </div>

</header>
